<%- include('partials/header') %>



  <section class="sm:min-h-[60vh] md:min-h-[85vh] flex justify-center items-center">
    <div class="container mx-auto flex px-5 py-16 items-center justify-center flex-col">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="font-special text-5xl md:text-7xl mb-4 font-semibold text-accent">Weather Now</h1>
        <p class="mb-8 leading-relaxed">A simple and responsive wep application powered by NodeJS. </p>
        <div class="flex justify-center">
          <a href="/check">
            <button class="btn-primary">Check Weather</button>
          </a>
          <a href="/working">
            <button class="ml-4 btn-secondary">How it works</button>
          </a>
        </div>
      </div>
    </div>
  </section>


  <%- include('partials/footer') %>